/themes/weekmate/images/
/themes/weekmate/fonts/
/themes/genesis-block-theme/
/themes/twentytwentyfive/
/themes/twentytwentyfour/
/themse/twentytwentythree/
/themes/index.php
/plugins/akismet/
/plugins/advanced-custom-fields-pro/
/plugins/all-in-one-wp-security-and-firewall/
/plugins/contact-form-7/
/plugins/contact-form-7/
/plugins/contact-form-cfdb7/
/plugins/download-plugin/
/plugins/duplicate-page/
/plugins/easy-wp-smtp/
/plugins/email-log/
/plugins/genesis-blocks/
/plugins/gif-uploader-wp-grandplugins/
/plugins/miniorange-login-openid/
/plugins/reading-time-wp/
/plugins/wordpress-seo/
/plugins/wordpress-importer/
/plugins/webp-converter-for-media/
/plugins/safe-svg/
/plugins/redirection/
/plugins/wp-rocket/
/plugins/contact-form-7-lead-info-with-country/
/plugins/country-phone-field-contact-form-7/
/themes/weekmate/footer.php
/themes/weekmate/page-templates/partner-page.php